@import url('https://fonts.googleapis.com/css2?family=poppin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .5);
    z-index: 10;
}
.navbar-brand{
    font-weight: 600;

}
.nav-link{
    color: white !important;
    border-bottom: 1px solid transparent;

}
.nav-link:hover{
    border-bottom: 1px solid white;
}
section{
    width: 100%;
    min-height: 100vh;
}
/*home section*/

#home {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            background: #081b29;
        }
        .content {
            color: white;
            padding: 20px;
            font-size: 300;
        }


        
        .circles-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100vh;
            padding: 0 5%;
        }
        .circles {
            width: 400px;
            height: 400px;
            border-radius: 50%;
            position: relative;
            transition: 1s;
        }
        .circles img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    

        #home p {
            margin: 10px 0;
            font-size: 1.5rem;
        }
        #home span {
            color: #0ef;
        }
    /*about*/
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #081b29;

    }
    .circle{
        width: 400px;
        height: 400px;
        background: #0ef;
        border-radius: 50%;
        position: relative;
        
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    }
    .circle img{
        position:absolute;
        height: 350px;
        top: -20%;
        left:6%;
        border-radius: 50%;
       

    }
    .circle:hover{
        width: 700px;
        height: 400px;
        border-radius: 10px;
        transition: 1s;
    }
    .circle:hover img{
        position: absolute;
        top: 0%;
        left: 0%;
        transition: 1s;

    }
    .circle:hover .content{
        position:absolute;
        top:15%;
        right: 0;
        color:black;
        width: 50%;
        opacity: 1;
        transition: 1s;
    }
    .circle .content{
        opacity: 0;
    }

    @media screen and (max-width:576px) {
        
    .circle{
        width: 400px;
        height: 400px;
        background: #0ef;
        border-radius: 50%;
        position: relative;
        box-sizing: 0px 5px 12px rgba(0,0,0,.7);
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    }
    .circle:hover img{
        position: absolute;
        top: 0%;
        left: 8%;
        transition: 1s;
    }
    .circle:hover{
        width: 400px;
        height: 600px;
        border-radius: 10px;
        transition: 1s;
    }
    .circle .content{
        opacity: 0;
    }
    .circle:hover .content{
        position:absolute;
        top:60%;
        right: 0;
        color:black;
        padding: 15px;
        width: 100%;
        opacity: 1;
        transition: 1s;
        font-size: 250;
    }
      
    }



    
.home-sci a{
    display:inline-flex;
    justify-content:center;
    align-items: center;
    width:40px;
    height: 40px;
    background: transparent;
    border:2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin: 30px 15px 0 ;
  
  }
  
  .home-sci a:hover{
    background: #0ef;
    color:#081b29;
    box-shadow: 0 0 20px #0ef;
  
  }

  /*edu*/
  #education{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081b29;

  }

  .timeline {
    position: relative;
    max-width: 550px; /* Reduced width */
    margin: 40px auto;
    padding: 0 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #C5C5C5;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    background: #0ef;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #0ef;
    border-radius: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.timeline-content {
    position: relative;
    padding-left: 60px;
}

.timeline-content h2 {
    font-size: 24px;
    margin: 0 0 10px;
    color: black; /* Ensures heading text is black */
    text-align: left;
}

.timeline-content .year {
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: black; /* Ensures year text is black */
}

.timeline-content p {
    margin: 10px 0;
    font-size: 16px;
    color: black; /* Ensures paragraph text is black */
}

/*skill*/
#skill{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081b29;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

.custom-img {
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    max-width: 25%;
    height: 25%;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.5); /* Cyan shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 2px;

}

.custom-img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 8px 16px rgba(0, 255, 255, 0.7); /* More pronounced cyan shadow on hover */
}
h3{
    color: #0ef;
    
}



#project{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: #081b29;
    
      
}

.card {
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 238, 255, 0.4); /* Adding box shadow with color #0ef */
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title,
  .card-text {
    flex-grow: 1;
  }
  
    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* Limit the text to 3 lines */
    }


#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081b29;
    padding:7%;
}

    /* Custom CSS */
background-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    

  }
  .form-label{
    color:white;
  }

  .footer {
    background-color:#0ef; /* Example background color */
    padding: 20px 0;
    color: #081b29;; /* Example text color */
  }
  
  
  .footer .social-icons a {
    color: #333; /* Color for the icons */
    font-size: 24px; /* Size of the icons */
    transition: color 0.3s ease;
  }
  
  .footer .social-icons a:hover {
    color: #0056b3; /* Hover color for the icons */
  }
  
  
